<html>
    <head>
        <title> <%= title %></title>
    </head>
<body>
    <h1><%= title %></h1>
    <div id="container">
        <% if (numero > 0) { %>
            <% for (var i = 0; i < arr.length; i++){ %>
    	<div class="post">
          <div class="intro">
          <h2> <%= arr[i].titolo %> </h2>
    			<%= arr[i].testo.substring(0,100) %>
    			<p>continua a leggere <a href="./articolo/<%= arr[i].id%>">qui</a></p>
    		</div>
    		<div class="who">
    			Scritto da: <%= arr[i].autore_id %> nella categoria <a href="./articolo/cat/<%= arr[i].categoria_id %>"><%= arr[i].categoria_id %></a>
    		</div>
    	</div>
            <% } %>
        <% } else { %>
            <h3><%= arr %></h3>
        <% } %>
    </div>
  </body>
</html>
