<% include ../commons/head.ejs %>
  <body>
    <h1><%= title %></h1>
    <div id="container">
    	<h2>Titolo</h2>
        <input id='titolo' name='titolo' value="<%= data.titolo %>" />
      <h2>Testo</h2>
      <textarea id="testo" name="testo"><%= data.testo %></textarea>
      <h2>Tag</h2>
      <input id="tag" name="tag" value="<%= data.tag %>" />
        <input type='hidden' name='id_post' value="<%= data._id %>" id="id_post" />
          <br />
        <button id="modify" name='modify'>Modifica</button>
    </div>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
  <script src='/javascript/dashboardArticles.js'></script>
  </body>
</html>
