<html>
    <head>
        <title> <%= title %> </title>
    </head>
<body>
    <h1><%= title %></h1>
    <div id="container">
    	<div class="post">
    		<div class="intro">
    			<%= articolo %>
    		</div>
    		<div class="who">
    			Scritto da: <%= autore %> con i tag <%= tag %>
    		</div>
    	</div>
    </div>
  </body>
</html>
