<!DOCTYPE html>
<html>
  <head>
      <title><%= namesite %> - <%= title %></title>
      <base href="<%= base %>" />
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <div id="container">
    	<div class="post">
    		<div class="intro">
    			<%= articolo.testo %>
    		</div>
    		<div class="who">
    			Scritto da: <%= autore %> nella categoria <%= categoria %>
    		</div>
    	</div>
    </div>
  </body>
</html>
