<!DOCTYPE html>
<html>
  <head>
      <title><%= namesite %><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
        <h1><%= title %></h1>
        <p><%= content %></p>
        <p class='error'><%= error %></p>
</body>
</html>
